*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.clearfix::after{
    display: table;
    clear:both;
    content: "";
}


.container{
    width: 1000px;
    margin:30px auto;
}

.row{
    margin:20px;
}

.col{
    width: calc(100% / 3 - 8px);
    /* border:1px solid black; */
    float: left;
    margin:auto 4px;
}

.product img{
    object-fit: cover;
    width: 100%;
}

.product{
    position: relative;
}

.card{
    position: relative;
}

.card .img-changed{
    position: absolute;
    opacity: 0;
    filter: drop-shadow(10px 10px 12px gray);
    top:0;
    left:0;
    transition: 0.60s;

}

.card:hover .img-changed{
    transition: 0.60s;
    cursor: pointer;
    filter: drop-shadow();
    opacity: 1;
}



.heart{
    position: absolute;
    right:0;
    top:20px;
    background: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.label-product{
    position: absolute;
    left:0;
    bottom:20px;
    color:white;
    
}

.discount{
    background: red;
    color:white;
    padding: 3px;
}

.x{
    background-color: green;
    padding: 3px;   
}

.discounted-price{
    color:red;
}
.price{
    text-decoration: line-through;
}

